{% extends "index.html" %}
{% block title %}Agregar Semestre{% endblock %}
{% block bloque %}

<div>
    <h1 class="text-center">Agregar Semestre</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <a href="/semestres" class="btn btn-primary">Regresar</a>
    <hr>
    <br>
    
    <form action="/guardar_semestre" method="POST">
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre">
        </div>
        <div class="mb-3">
            <label for="fecha_inicio" class="form-label">Fecha Inicio</label>
            <input type="date" class="form-control" id="fecha_inicio" name="fecha_inicio">
        </div>
        <div class="mb-3">
            <label for="fecha_fin" class="form-label">Fecha Fin</label>
            <input type="date" class="form-control" id="fecha_fin" name="fecha_fin">
        </div>
        <div class="mb-3">
            <label for="vigencia" class="form-label">Vigencia</label>
            <input type="text" class="form-control" id="vigencia" name="vigencia">
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>

{% endblock %}