{% extends "index.html" %}

{% block title %}Editar Semestre{% endblock %}

{% block bloque %}

<div class="container">

    <a href="/agregar_semestre" class="btn btn-primary">AGREGAR</a>

    <!-- {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %} -->


    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Listar Semestre</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Fecha Inicio</th>
                        <th>Fecha Fin</th>
                        <th>Vigencia</th>
                    </tr>
                </thead>
                <tbody>
                    {% for semestre in semestrese %}
                    <tr class="clickable-row" data-id="{{ semestre.id_semestre }}">
                        <td>{{ semestre.nom_semestre }}</td>
                        <td>{{ semestre.fecha_inicio }}</td>
                        <td>{{ semestre.fecha_fin }}</td>

                        {% if semestre.vigencia == 1 %}
                        <td>Activo</td>
                        {% else %}
                        <td>Inactivo</td>
                        {% endif %}

                    </tr>
                    {% endfor %}
                </tbody>
            </table>


        </div>
    </div>

</div>


{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        {% for category, message in messages %}
        Swal.fire({
            title: '{{ category|capitalize }}',
            text: '{{ message }}',
            icon: '{{ category }}',
            showClass: {
                popup: 'animate__animated animate__fadeInDown'
            },
            hideClass: {
                popup: 'swal2-hide'
            },
            timer: 3000,
            timerProgressBar: true,
            didOpen: () => {
                const audio = new Audio('../static/audio/notification.mp3');
                audio.play();
            }
        });
        {% endfor %}
    });
</script>
{% endif %}
{% endwith %}


{% endblock %}