{% extends "index.html" %}

{% block title %}Listar cursos{% endblock %}

{% block bloque %}

<div class="container">

    <a href="/agregar_curso" class="btn btn-primary">AGREGAR</a>
    <div class="row">
        <div class="col-12">
            <form action="/guardar_curso" method="POST">
                <div class="form-group">
                    <label for="nombre_curso">Nombre del curso</label>
                    <input type="text" class="form-control" id="nombre_curso" name="nombre_curso" required>
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
                <a href="/curso" class="btn btn-primary">Volver</a>

            </form>
        </div>
    </div>
</div>

{% endblock %}