{% extends "index.html" %}

{% block title %}Editar Semestre{% endblock %}

{% block bloque %}

<!-- listar sustentacion -->

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }}">{{ message }}</div>
{% endfor %}
{% endif %}
{% endwith %}


<div class="container">

    <div class="row">

        <div class="col-12">

            <table class="table">

                <thead>

                    <tr>

                        <th>Semestre</th>

                        <th>Curso</th>

                        <th>Tipo Sustentacion</th>

                        <th>Semanas</th>

                        <th>Desde</th>
                        <th>Hasta</th>
                        <th>Duracion de cada sustentacion</th>
                        <th>¿ Compensara ?</th>
                        <th>Agregar Estudiantes</th>
                    </tr>

                </thead>

                <tbody>

                    {% for sustentacion in sustentaciones %}
                    <tr data-id="{{ sustentacion.idSustentacion }}">
                        <td>{{ sustentacion.nom_semestre }}</td>

                        <td>{{ sustentacion.nombre_curso }} - {{ sustentacion.denominacion }}</td>

                        <td>{{ sustentacion.tipo_sustentacion }}</td>

                        <td>{{ sustentacion.semanas }}</td>

                        <td>{{ sustentacion.fecha_inicio }}</td>

                        <td>{{ sustentacion.fecha_fin }}</td>

                        <td>{{ sustentacion.duracion_maxima }}</td>

                        <td>{{ sustentacion.compensacion }}</td>

                        <td><a href="/sustentacion/usuarios/{{ sustentacion.idSustentacion }}"
                                class="btn btn-primary">Agregar Estudiantes</a></td>
                        <!-- <td><a href="/sustentacion/usuarios" class="btn btn-primary">Agregar Estudiantes</a></td> -->

                    </tr>

                    {% endfor %}

                </tbody>

            </table>

        </div>

    </div>
</div>

{% endblock %}