{% extends "index.html" %}

{% block title %}Editar Semestre{% endblock %}

{% block bloque %}
<!-- 
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }} d-flex align-items-center" role="alert">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-square"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
            d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm8.5 9.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z" />
    </svg>
    <div>
        {{ message }}
    </div>
</div>
{% endfor %}
{% endif %}
{% endwith %} -->

<form action="/agregar_disponibilidad_horaria_docente" class="form" method="post">
    <label for="fecha"> FECHA</label>
    <input type="date" name="fecha">

    <label for="hora_inicio"> HORA INICIO</label>
    <input type="time" name="h_inicio">

    <label for="hora_fin"> HORA FIN</label>
    <input type="time" name="h_fin">

    <label for="id_docente"> DOCENTE</label>
    <input type="text" name="id_docente">

    <button type="submit" class="btn btn-primary">INSERTAR</button>

</form>


<table class="table">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Hora Inicio</th>
            <th>Hora Fin</th>
            <th>Docente</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for disponibilidad in disponibi %}
        <tr>
            <td>{{ disponibilidad.fecha }}</td>
            <td>{{ disponibilidad.hora_inicio }}</td>
            <td>{{ disponibilidad.hora_fin }}</td>
            <td>{{ disponibilidad.id_docente }}</td>
            <td>
                <a href="/editar_disponibilidad_horaria_docente/{{ disponibilidad.idHorario }}"
                    class="btn btn-warning">Editar</a>
                <a href="/eliminar_disponibilidad_horaria_docente/{{ disponibilidad.idHorario }}"
                    class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
</table>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        {% for category, message in messages %}
        Swal.fire({
            title: '{{ category|capitalize }}',
            text: '{{ message }}',
            icon: '{{ category }}',
            showClass: {
                popup: 'animate__animated animate__fadeInDown'
            },
            hideClass: {
                popup: 'swal2-hide'
            },
            timer: 3000,
            timerProgressBar: true,
            didOpen: () => {
                const audio = new Audio('../static/audio/notification.mp3');
                audio.play();
            }
        });
        {% endfor %}
    });
</script>
{% endif %}
{% endwith %}



{% endblock %}